@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.main-header{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
}

.tituloH{
    align-self: center;
    color: #597ff9;
}

.titulo{
    align-self: flex-start;
    font-size: 140%;
    font-family: 'Montserrat', sans-serif;
    color: #5A5756;
    margin: 1%;
}

.compras{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    color: #5A5756;
    padding: 1%;
    flex-direction: column;
    width: 180%;
}

.unItem{
    display: flex;
}

.imagen{
    border: 1px;
}

.prodImagen{
    width: 20%;
}
.tituloYCantPrecio{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.tituloProducto{
    align-self: flex-start;
    width: 90%;
}

.precioCant{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    justify-self: flex-end;
}

.cantidad{
    width: 30%;
}

.resumen{
    display:flex;
    padding: 1%;
}

.seguiComprando{
    align-self: flex-end;
    justify-self: flex-start;
}

.precioFinal{
    display: flex;
    justify-content: flex-end;
    width: 32%;
    
}

.resaltarTexto{
    font-size: 170%;
    align-self: center;
}

.superResaltarTexto{
    font-size: 200%;
    font-weight: bolder;
}






