@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
  }

  body {
   font-family: 'Montserrat', sans-serif;
   padding: 1%;
  }
  
  /*Header*/
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none; /* eliminar el bullet de la lista */
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  .container-header {
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
  }
  
  .main-header {
    background-color: transparent;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  
  .logo,
  .left-navbar, 
  .right-navbar li {
    display: inline-block;
    vertical-align: middle;
  }
  
  .left-navbar {
    margin-left: 2px;
  }
  
  .right-navbar {
    float: right;
    margin-top: 20px;
    font-size: 12px;
  }
  
  .left-navbar p,
  .right-navbar a {  
    color: #597ff9;
    text-transform: capitalize;
    margin-right: 10px;
  }
  
  .right-navbar a:hover {
    color: #000000;
  }



.tituloH{
    align-self: center;
    color: #597ff9;
}

.titulo{
    align-self: flex-start;
    font-size: 140%;
    font-family: 'Montserrat', sans-serif;
    color: #5A5756;
    margin: 1%;
}

.compras{
    display:flex;
    font-family: 'Montserrat', sans-serif;
    color: #5A5756;
    padding: 1%;
    flex-direction: column;
    align-items: flex-start;
}

.unItem{
    display: flex;
}

.imagen{
    border: 1px;
}

.tituloYCantPrecio{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%; 
}

.tituloProducto{
    align-self: flex-start;
    
}

.precioCant{
    display: flex;
}

.resumen{
    display:flex;
    padding: 1%;
    width: 100%;
}


.seguiComprando{
    align-self: flex-end;
}

.resaltarTexto{
    font-size: 170%;
    align-self: center;
    justify-self: flex-end;
    margin-left: 20%;
}

.superResaltarTexto{
    font-size: 200%;
    font-weight: bolder;
    justify-self: flex-end;
    margin-right: 1%;
}






