@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    box-sizing: border-box;
  }

  body {
   font-family: 'Montserrat', sans-serif;
   padding: 1%;
  }
 
  .elLogo{
    width:100%;
  }

  /*Header*/
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none; /* eliminar el bullet de la lista */
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  .container-header {
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
    width:70%
  }
  
  .main-header {
    background-color: transparent;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  
  .logo,
  .left-navbar, 
  .right-navbar li {
    display: inline-block;
    vertical-align: middle;
  }

  .left-navbar {
    margin-left: 2px;
  }
  
  .right-navbar {
    float: right;
    margin-top: 20px;
    font-size: 12px;
    margin-right: 10%;
  }
  
  .left-navbar p,
  .right-navbar a {  
    color: #597ff9;
    text-transform: capitalize;
    margin-right: 10px;
  }
  
  .right-navbar a:hover {
    color: #000000;
  }



header {
    display: flex;
    justify-content: flex-start;

}

.bloque {
    align-self: center;
    align-items: center;
    margin-top: 130px;
}

.ingreso {
       
        background-color: #597ff9;
        border: none;
        color: white;
        padding: 5px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5%;
        margin-top: 30px;
        margin-left: 35%;
}

.registrate {
    background-color: white;
    color:blue;
    border-radius: 30%;
    background-color: white;
    border: none;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    margin-left: 33%;
    margin-top: 10px;
}

a {
    color:blue;
    margin-right: 30px;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 1%;
   }

h2 {
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 33%;
    margin-top: 50px;
}

.titulo {
    justify-content: center;

}