@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
 font-family: 'Montserrat', sans-serif;
}

/*Header*/


/*Destacados*/
.destacados {
  text-align: center;
  font-size: 16px;
  color:black;
}

/*Primer grupo de tres cajas*/
.container-productos{
  width: 66%;
  background-color: #ffffff;
  float: left;
  height: 534px;
}

/*Primer grupo de tres cajas- Cajas iguales*/
.detail-category1 {
  width: 48%;
  font-weight: bold;
  height: 267px;
  border: solid 1px lightgrey;
  float: left;
  padding: 1%;
  margin: 1%;
}
/* .detail-category1 img {
  width:50%;
  position: relative;
  left: 1%;
  
} */

.detail-category1Color {
  width: 30%;
  
  background-size: cover;
  font-weight: bold;
  height: 40vh;
  border: solid 1px lightgrey;
  padding: 1%;
  margin: 1%;
}

/*Primer grupo de tres cajas - Caja +grande abajo*/
.detail-category2 {
  font-weight: bold;
  width: 98%;
  height: 260px;
  border: solid 1px lightgrey;
  clear: both;
  padding: 1%;
  margin: 1%;
}

/* .detail-category2 img {
  position: absolute;
  right:38%;
  bottom: -13%;
} */
/*Segundo grupo - Caja a la derecha*/
.container-productos2{
  width: 33%;
  float: left;
  }

/*Caja grande derecha*/
.detail-category3 {
  font-weight: bold;
  height: 534px;
  border: solid 1px lightgrey;
  float: left;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;

}

/* .detail-category3 img {
  position: relative;
  top: 25%;
} */

/*Nombres de categorías*/

.cont{
  position: relative;
}

h6 {
  position: absolute;
  padding: 10px 25px;
  top: 20px;
  background-color: #597ff9;
  color: black;
  left: 25px;
  
}



/*Call To Action - Ver Categoria*/

.call-to-action {
  padding: 10px 25px;
  color:lightgrey;
  min-width: 150px;
  text-align: left;
  font-size: 12px;
}

.call-to-action:hover {
text-decoration: underline; 
}

/*Pie*/
.footer-navbar {
  width: 100%;
  font-size: 10px;
  
  text-transform: capitalize;
  clear: both;
  }

.footer-navbar li {
  display: inline-block;
  order: 100;
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-navbar a {
  color:#597ff9;
}

.cat1{
  display: flex;
  background-image: url("/app/public/images/raspberry.jpg");
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  order: 100;
}

/* img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 
} 
*/

#primeraCol{
  display: flex;
  justify-content: flex-end;
}

#segundaCol{
  display: flex;
  justify-content: center;
}

#terceraCol{
  display: flex;
  justify-content: flex-start;
}

#cuartaCol{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
  .combos{
    width: 118%;
  }
  
  #primeraCol{
    display: flex;
    justify-content: center;
  }
  
  #segundaCol{
    display: flex;
    justify-content: center;
  }
  
  #terceraCol{
    display: flex;
    justify-content: center;
  }

  #cuartaCol{
    display: flex;
    justify-content: center;
  }


}
