<div class="container-header">
    <!-- main-header -->
    <header class="main-header">
      <!-- logo -->
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="Logo SLC">
        </a>
      </div>
      <!-- Left-navbar -->
      <nav class="left-navbar">
       <p> Componentes Electrónicos</p>
      </nav>
      <!-- right-navbar -->
      <nav class="right-navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/register" target="blank">Ingresá</a></li>
            <li><a href="/register" target="blank">Registrate</a></li>
            <li><a href="/productCart" target="blank"> <img src="/images/carrito16px.png"></a></li>
        </ul>
      </nav>
    </header>

<!-- buscador -->
<div class="wrap">
<div class="search">
 <input type="text" class="searchTerm" placeholder="Buscá por producto, por categoría o por marca">
 <button type="submit" class="searchButton"> &#128270;
  </button>

</div>
</div>
<!-- destacados -->
 <!-- <h1 class="destacados"> Destacados</h1>  -->
