<div class="container">
    <!-- main-header -->
    <header class="row">
      <!-- logo -->
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <a href="/">
          <img src="/images/logo.png" alt="Logo SLC">
        </a>
      </div>
      <!-- Left-navbar -->
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
      <nav class="left-navbar">
       <p> Componentes Electrónicos</p>
       
      </nav>
    </div>
      <!-- right-navbar -->
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12" >
      <nav class="right-navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/register" target="blank">Ingresá</a></li>
            <li><a href="/register" target="blank">Registrate</a></li>
            <li><a href="/productCart" target="blank"> <img src="/images/carrito16px.png"></a></li>
        </ul>
      </nav>
    </div>
    </header>


<!-- destacados -->
 <!-- <h1 class="destacados"> Destacados</h1>  -->
