<!-- buscador -->
    <form action="/products/search" method="GET">
      <div class="search">
        <input type="text" class="searchTerm" name="search" placeholder="Buscá por nombre de producto o por categoría">
        <button type="submit" class="searchButton"> &#128270;</button>
      </div>
   
    </form>