<!DOCTYPE html>
<html>
  <head>
    <title> SLC Componentes Electrónicos </title>
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
    <meta name= "viewport" content="width= device-width">
  </head>

  <body>
      <div class="container-header">
          <!-- main-header -->
          <header class="main-header">
            <!-- logo -->
            <div class="logo">
              <a href="/">
                <img src="/images/logo.png" alt="Logo SLC">
              </a>
            </div>
            <!-- Left-navbar -->
            <nav class="left-navbar">
             <p> Componentes Electrónicos</p>
            </nav>
            <!-- right-navbar -->
            <nav class="right-navbar">
              <ul>
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/register" target="blank">Ingresá</a></li>
                  <li><a href="/register" target="blank">Registrate</a></li>
                  <li><a href="/productCart" target="blank"> <img src="/images/carrito16px.png"></a></li>
              </ul>
            </nav>
          </header>
    
<!-- buscador -->
<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="Buscá por producto, por categoría o por marca">
       <button type="submit" class="searchButton"> &#128270;
        </button>
      
    </div>
 </div>
<!-- destacados -->
<h1 class="destacados"> Destacados</h1>

<!-- main-content -->
<section class="container-productos">
    <article class="detail-category1Color"> 
    <h6>ARDUINO</h6>
    <a href="#" class="call-to-action">Ver Categoría</a>
			</article>


  <article class="detail-category1"> 
    <h6>RASPBERRRY</h6>    
        <a href="#" class="call-to-action">Ver Categoría</a>
        <img src="/images/Raspberri_Home.jpg">
    </article>


  <article class="detail-category2"> 
  <h6>PLCs</h6>
  <a href="#" class="call-to-action">Ver Categoría</a>
  <img src="/images/PLC_Home.jpg">
    </article>

  </section>

<section class="container-productos2">
  <article class="detail-category3"> 
  <h6>COMBOS Y OFERTAS </h6>
  <a href="#" class="call-to-action">Ver Categoría</a>
  <img src="/images/Combos_home.png" alt="Combos y Ofertas">
    </article>

</section>

<!-- pie -->
<footer>
<nav class="footer-navbar">
  <ul>
      <li><a href="/legal" target="blank">Terminos y Condiciones</a></li>
      <li><a href="/legal" target="blank">Política de Privacidad</a></li>
      <li><a href="#" target="blank">Ayuda</a></li>
  </ul>
</nav>
</footer>

  </body>
</html>
