<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head', {title: 'SLC Componentes Electrónicos'}); %> 
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
<!-- main-content -->
<section class="container">

<div class="row">

  <div class="col-xl-4 col-lg-6 col-md-5 col-sm-6 col-12">
    <div class="cont">
    <h6>ARDUINO</h6>
    <a href="#" class="call-to-action"><img src="/images/Arduino.JPG"> </a>
  </div>
 
    </div>
<div class="col-xl-4  col-lg-6 col-md-5 col-sm-6 col-12"> 
  <div class="cont">
    <h6>RASPBERRRY</h6>    
        <a href="#" class="call-to-action"><img src="/images/raspberrycat.jpg"></a>
  </div>

     </div>

     <div class="col-xl-4  col-lg-6 col-md-5 col-sm-6 col-12">
      <div class="cont">
  <h6>PLCs</h6>
  <a href="#" class="call-to-action"><img src="/images/PLC_Home.jpg"></a>
      </div>
     </div>
     <div class="col-xl-12  col-lg-4 col-md-5 col-sm-6 col-12">
      <div class="cont">
  <h6>COMBOS Y OFERTAS </h6>
  <a href="#" class="call-to-action"><img src="/images/Combos.jpg" alt="Combos y Ofertas"> </a>
      </div>

     </div>
  </div>
</section>

<!-- pie -->
<footer>
<nav class="footer-navbar">
  <ul>
      <li><a href="/legal" target="blank">Terminos y Condiciones</a></li>
      <li><a href="/legal" target="blank">Política de Privacidad</a></li>
      <li><a href="#" target="blank">Ayuda</a></li>
  </ul>
</nav>
</footer>

  </body>
</html>
