<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
    <link rel='stylesheet' href='/stylesheets/styleProductDetail.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>
<!-- main-content -->


  <div class="row d-flex justify-content-center">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 " id="primeraCol">
    <div class="cont">
    <h6>ARDUINO</h6>
    <a href="/products/category/1" class="call-to-action"><img src="/images/Arduino.JPG"> </a>
  </div>
 
    </div>
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 " id="segundaCol"> 
  <div class="cont">
    <h6>RASPBERRRY</h6>    
        <a href="/products/category/2" class="call-to-action"><img src="/images/raspberrycat.jpg"></a>
  </div>

     </div>

     <div class="col-xl-3  col-lg-3 col-md-6 col-sm-12 col-12 " id="terceraCol">
      <div class="cont">
  <h6>PLCs</h6>
  <a href="/products/category/3" class="call-to-action"><img src="/images/PLC_home.jpg"></a>
      </div>
     </div>
  </div>
  <div class="row d-flex justify-content-center">  
     <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12 col-12" id="cuartaCol">
      <div class="cont">
  <h6>COMBOS Y OFERTAS</h6>
  <a href="/products/category/4" class="call-to-action"><img class="combos"src="/images/Combos.jpg" alt="Combos y Ofertas"> </a>
      </div>
      </div>
     </div>


<!-- pie -->
<%- include('../partials/footer'); %>

  </body>
</html>
