<!DOCTYPE html>
<html>
  <head>
    <title>Términos y condiciones de uso del Sitio</title>
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
  </head>
  <body>
    <h1 class="destacados">La página ingresada no existe </h1>
    <p>Oh vaya! Al parecer a ingresado a una página inexistente. Por favor ingrese nuevamente desde el inicio.</p>
    <br> 
    <img src="/images/notFound.jpg">
  </body>
</html>
