<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
  </head>
  
  <body>
    <%- include('../partials/nav'); %> 
    <%- include('../partials/searchBar'); %>
<!-- main-content -->
<section class="container">

<div class="row">


</div>

</section>


    <!-- pie -->
<%- include('../partials/footer'); %>

</body>
</html>