<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title> SLC Componentes Electrónicos </title>
    <link rel='stylesheet' href='/stylesheets/registerformb.css' />
   
  </head>
  <body>
    <%- include('../partials/nav'); %> 
    
    <h1>Crear Cuenta</h1>
    <h3>Ubicacion</h3>
    <form>
     <div>

        <input type="text" name="calle" value="Calle">
        <input type="text" name="numero" value="Numero">
     </div>
     <div>
        <input type="text" name="city" value="Ciudad">
        <input type="text" name="cp" value="Codigo Postal">
        <input type="text" name="state" value="Provincia">
     </div>
    </form>

    <h3>Perfil como vendedor</h3>
    <div>

     <input type="text" name="nickname" value="Nombre Fantasia/Apodo">
     <label><input type="checkbox" id="cbox1" value="first_checkbox">Utilizar mi nombre y apellido como nombre fantasia/apodo</label>
    </div>
    <div>
    <div>
      <input type="text" name="nombredelacaja" value="Escribi una descripcion sobre tu tienda o los productos que ofrecen">
    </div> 
    <div>
        <label><input type="checkbox" id="cbox1" value="first_checkbox"><b>No quiero activar ahora mi perfil de vendedor</b></label>
     </div>
     <div>
      <label><input type="checkbox" id="cbox1" value="first_checkbox">Al registrarme acepto los <a>terminos y condiciones y la Politica de Privacidad de SLC Componentes Electronicos SA</a></label>
      <a>Registrarme</a>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>