<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %> 
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body>
    
    <%- include('../partials/nav'); %> 
   
      <form action="/users/login" method="POST">
    <div class="row">
      <div class="col-12">
      <div class="tituloSaludo">
      <h2> <%= msg %></h2>
    </div>
    </div>
    <div class="col-12">
      <div class = "elImput">
      <input class="unInput" type="text" name="email" size="40" placeholder="Correo Electronico">
      <input class="unInput" type="password" name="contrasena" size="40" placeholder="Contraseña">
    </div>
    </div>
    <div class="col-12">
        
              <!-- <a class="crearCta" href="/index" type="submit" value="Ingresá"> -->
                <button class="ingreso" type="submit" > Ingresá </button>
                <!-- </a> -->
       
      </div>
    </div>
      </form>
    <div class="row">
      <div class="col-12">
        <div class="crearCta">
           <div>¿No tenes una cuenta?</div>
    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
    <a class="crearCta" href="/users/Create">
      <input class="registrate" type="submit" value="Registrate">
      </a>
      </div>
    
    </div>
    <%- include('../partials/footer'); %>

  </body>
</html>
