<!DOCTYPE html>
<html>
  <head>
    <title>Formulario de Registro</title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <meta name="viewport" content="width = device-width">

  </head>
  <body>
          <!-- main-header -->
          <header class="main-header">
            <!-- logo -->
            <div class="logo">
              <a href="/">
                <img src="/images/logo.png" alt="Logo SLC" class="elLogo">
              </a>
            </div>
            <!-- Left-navbar -->
            <nav class="left-navbar">
             <p> Componentes Electrónicos</p>
            </nav>
            <!-- right-navbar -->
            <nav class="right-navbar">
              <ul>
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/register" target="blank">Ingresá</a></li>
                  <li><a href="/register" target="blank">Registrate</a></li>
                  <li><a href="/productCart" target="blank"> <img src="/images/carrito16px.png"></a></li>
              </ul>
            </nav>
          </header>
    <header class="container-header">
    <div class="bloque">
      <h2>Registrate</h2>
      <input type="text" name="email" size="40" placeholder="Correo Electronico">
      <input type="password" name="password" size="40" placeholder="Contraseña">
      <div>
       <a href="/index">
        <a class="ingreso" href="/index" type="submit" value="Ingresá">
          Ingresá 
       </a>
      </div>
      <p>¿No tenes una cuenta?</p>
     <a class= href="/registerformA">
      <input class="registrate" type="submit" value="Registrate">
     </a>
     </div>
    </header>
  </body>
</html>
