<!DOCTYPE html>
<html>
    <head>
      <%- include('../partials/head'); %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/styleProductDetailOk.css' />
        <link rel='stylesheet' href='/stylesheets/userForm.css' />
        
      </head>
    
  <body>
    <div class="container-header">
      <%- include('../partials/nav'); %> 
 
      <form id="regForm" action="/users" enctype="multipart/form-data" method="POST" >

        <h1>Registro</h1>
        
          <ul>
            <% if(ers != undefined){ %>
              <div> Por favor corregir los errores:</div>
            <% ers.forEach( err => { %>
            <li> <%= err.msg %> </li>
           <% })}; %>
          </ul>

        <div class="tab">Sobre vos:
          <p><input placeholder="Nombre..." name="nombre" oninput="this.className = ''"></p>
          <p><input placeholder="Apellido..." name="apellido" oninput="this.className = ''"></p>
          <p><select id="inputState" name="genero" class="form-control">
            <option selected>Genero</option>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Prefiero no decirlo</option>
          </select></p>
         
          
            <p> <label for="imageUpload" class="btn btn-primary btn-block btn-outlined">Cargá tu Foto</label>
              <input type="file" id="imageUpload" accept="images/*" name="image" style="display: none"> </p>
            <p><select id="inputState" class="form-control">
              <option selected>Tipo de Documento</option>
              <option>DNI</option>
              <option>Libreta</option>
              <option>Pasaporte</option>
            </select></p>
            
            <p>
              <input type="text" class="form-control" id="inputModelo" placeholder="Número de documento..." name="numeroDoc"></p>

        </div>

        <div class="tab">Datos de Usuario:
          <p><input placeholder="E-mail..." name="email" oninput="this.className = ''"></p>
          <p><input type="password" placeholder="Contraseña..." name="contrasena" oninput="this.className = ''"></p>
        </div>
        
        <div class="tab">Datos de Contacto:
          
          <p> <input type="tel" name="telefono" name="tel1" placeholder="Telefono..."></p>
          <p><input type="text" name="calle" placeholder="Calle y número..."></p>
          <p> <input type="text" name="city" placeholder="Ciudad..."></p>
          <p><input type="text" name="cp" placeholder="Código Postal"></p>
          <p><input type="text" name="provincia" placeholder="Provincia..."></p>
        </div>
        
        <div class="tab">Perfil de Vendedor:
          <p><input type="text" name="nomVendedor" placeholder="Nombre Fantasia/Apodo"></p>
         <p><input type="checkbox" id="utilizarApodo"  value="first_checkbox">Utilizar mi nombre y apellido como nombre fantasia/apodo</p>
       <p><input type="checkbox" id="esVendedor" value="first_checkbox"><b>No quiero activar ahora mi perfil de vendedor</b></p> 
      <p><input type="checkbox" id="aceptaTerminos" value="first_checkbox">Al registrarme acepto los <a>terminos y condiciones y la Politica de Privacidad de SLC Componentes Electronicos SA</a></p>
        </div>
        
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
          </div>
        </div>
        
           <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
        
        </form>
      
        <%- include('../partials/footer'); %>
<!---bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/multi-step-conf.js"></script>

</body>
</html>