<!DOCTYPE html>
<html>
    <head>
      <%- include('../partials/head'); %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/styleProductDetailOk.css' />
        <link rel='stylesheet' href='/stylesheets/userForm.css' />
        
      </head>
    
  <body>
    <div class="container-header">
      <%- include('../partials/nav'); %> 
 
      <form id="regForm" action="/users" enctype="multipart/form-data" method="POST" >

        <h1>Registro</h1>
        
          <ul>
            <% if(ers != undefined){ %>
              <div> Por favor corregir los errores:</div>
            <% ers.forEach( err => { %>
            <li> <%= err.msg %> </li>
           <% })}; %>
          </ul>

        <div> <p>Sobre vos:</p>
          <br>
          <!-- Nombre -->
          <input placeholder="Nombre..." name="name"  data-name="Nombre" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
          <!-- Apellido -->
          <input placeholder="Apellido..." name="surname" data-name="Apellido" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
          <!-- Género -->
          <label>Género </label>
          <select id="inputState" name="gender" data-name="Género" class="form-control">
            <option value=""></option>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Prefiero no decirlo</option>
          </select>
          <p class="invalid-feedback"></p>
          <br>
          <!-- Imagen -->
					<label>Imagen de perfil:</label>
					<!-- Preview Imagen -->
					<div id="imgPreview"></div>
						<input type="file" id="avatarName" accept="images/*" name="avatarName" class="form-control form-control-file" data-name="imagen de perfil">
            <p class="invalid-feedback"></p>
          <br>
          <!-- Tipo Documento -->
            <label>Tipo de Documento</label>
            <select id="inputState" name="typeDocument" data-name="Tipo de Documento" class="form-control">
              <option value=""></option>
              <option>DNI</option>
              <option>Libreta</option>
              <option>Pasaporte</option>
            </select>
            <p class="invalid-feedback"></p>
            <br>
          <!-- Documento -->
            <input type="text" class="form-control" id="inputModelo" placeholder="Número de documento..." name="document" data-name="Documento">
            <p class="invalid-feedback"></p>
            <br>
        </div>
        <br>
        <hr>
        <br>
        <div>
          <p> Datos de Usuario:</p>
          <br>
           <!-- Email -->
          <input placeholder="E-mail..." name="email" data-name="Correo Electrónico" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
           <!-- Password -->
          <input type="password" placeholder="Ingresá una contraseña de al menos 8 caracteres..." name="password" data-name="Contraseña" class="form-control">
          <p class="invalid-feedback"></p>
        </div>
        <br>
        <hr>
        <br>
        <div class>
          <p>Datos de contacto</p>
          <br>
           <!-- Teléfono -->
          <input type="tel" name="telephone" placeholder="Telefono..." data-name="Teléfono" class="form-control" >
          <p class="invalid-feedback"></p>
          <br>
           <!-- Calle -->
          <input type="text" name="street" placeholder="Calle y número..." data-name="Calle" class="form-control" >
          <p class="invalid-feedback"></p>
          <br>
           <!-- Ciudad -->
          <input type="text" name="city" placeholder="Ciudad..." data-name="Ciudad" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
           <!-- CP -->
          <input type="text" name="CP" placeholder="Código Postal" data-name="Código Postal" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
           <!-- Provincia -->
          <input type="text" name="province" placeholder="Provincia..." data-name="Provincia" class="form-control">
          <p class="invalid-feedback"></p>
          <br>
          <hr>
          <br>
          <!-- Términos y condiciones -->
          <div class="row"> 
            <div class="col-1"> 
              <input type="checkbox" id="aceptaTerminos" value="first_checkbox">
            </div>
            <div class="col-11">
              <p>Al registrarme acepto los terminos y condiciones y la Politica de Privacidad de SLC Componentes Electronicos SA</p>
            </div>
          </div>
        </div>
     
<!-- Botón de envío -->
<div class="col-12 text-center">
  <button type="submit" class="btn btn-info btn-lg">Registrarse</button>
</div>
<!-- /Botón de envío -->
        

        </form>
      
        <%- include('../partials/footer'); %>
<!---bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/multi-step-conf.js"></script>
<script src="/js/validator.min.js"></script>
<script src="/js/validationsUserForm.js"></script>

</body>
</html>